
body{
background-color:purple;
}
#root{
width:100vw;
height:100vh;
}
#websitename{
background-color: white;
text-align:center;
width:50%;
margin:0 auto 0 auto;
}
#homepage{
  background-color: rgb(152, 152, 250);
  width:75vw;
  height:75vh;
  display:block;
  overflow: scroll;
}

.clicktheteam{
  background-color:white;
  text-align:center;
  margin:5px;
  width:32%;
  height:15%;
  display:inline-block

}